/*
NOTE:
CSS are not intended to insert text content. 
That's the responsibility of HTML. 
But for this practice, we will be doing this so we can write "Hello World" using CSS. 

The only way you can add in text using CSS is with the `content` property. 
This will only work on pseudo elements `:before` and `:after`.
Pseudo elements are not selecting anything on the html file rather it adds something on the html.
*/

h1:before { 
	content: "Hello";
}

h2:after { 
	content: "World";
}

